.header-wrap{
    margin: 0 auto;
    width: 65%;
    min-width: 1000px;
    height: 100px;
    overflow: hidden;
}
.header-logo{
    float: left;
    height: 100%;
    width: 30%;
    line-height: 60px;
    vertical-align: middle;
    & > .logo{
        height: 100%;
    }
    & > .name{
        height: 35%;
        margin-bottom: 16px;
    }
}
.header-drop{
    float: right;
    height: 60%;
    width: 60%;
    margin-top: 40px;
}
.el-main{
    padding: 0;
    .main-image{
        height: 600px;
    }
}
